target
target/
classes
classes/
bin
bin/
lib
lib/
Debug
Debug/
Release
Release/
*.scc
*.vssscc
*.log
*.jasper
CVS
CVS/
doc
doc/
javadoc
javadoc/
ignore
ignore/
.svn
.svn/
.project
.classpath
.settings/
.vscode
.vscode/
classpath.txt

