<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="warn" name="MyApp" packages=""
	monitorInterval="20">
	<Appenders>
		<RollingFile name="RollingFile"
			fileName="${sys:user.home}/logs/app.log"
			filePattern="${sys:user.home}/logs/app-%d{yyyyMMdd}-%i.log">
			<PatternLayout>
				<Pattern>[%t] %d{HH:mm:ss.SSS} %p %c{1.}.%M %msg%xEx%n</Pattern>
			</PatternLayout>
			<Policies>
				<SizeBasedTriggeringPolicy size="1 MB" />
				<TimeBasedTriggeringPolicy />
			</Policies>
			<DefaultRolloverStrategy max="3" />
		</RollingFile>
	</Appenders>
	<Loggers>
		<Logger name="zacobcx" level="trace" additivity="false">
			<AppenderRef ref="RollingFile" />
		</Logger>
		<Logger name="net.kwami" level="trace" additivity="false">
			<AppenderRef ref="RollingFile" />
		</Logger>
		<Logger name="kwami" level="trace" additivity="false">
			<AppenderRef ref="RollingFile" />
		</Logger>
		<Root level="info">
			<AppenderRef ref="RollingFile" />
		</Root>
	</Loggers>
</Configuration>
